name: textlint

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  textlint:
    runs-on: ubuntu-latest
    container: node:20-buster
    steps:
      - uses: actions/checkout@v1
      - uses: reviewdog/action-setup@v1
      - name: textlint
        run: |
          npm install
          npx textlint -f checkstyle $(find books articles -name "*.md") | reviewdog -f=checkstyle -reporter=github-pr-check -level=warning
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
